// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* ベースカラーの定義 */
$blue1: #003972;
$blue2: #0062a1;
$blue3: #4e8fd3;
$blue4: #95c0ec;
$blue5: #c8f3ff;
$blue6: #fcffff;
$orange: #D3924E;
$red: #D3504E;
$pink: #D34E8F;